body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 400px;
    background-image: url(/trash-background.png);
    background-size: cover;
    background-position: center;
    min-height: 150px;
    justify-content: flex-start;
}

div { 
  width: 75%;
  height: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
}

a { 
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  filter: drop-shadow(2px 4px 12px black);
  transition: color 1s ease, filter 1s ease, font-size 1s ease;
}

a:hover { 
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.6rem;
  filter: drop-shadow(1px 2px 6px black);
}
